.name {
  margin-left: 15%;
  margin-top: 4%;
  font-size: 22px;
}

.menu-color {
  background-color: #e9edee;
}

.red {
  background-color: red;
}

.side-menu {
  margin-top: 5%;
  span {
    margin-left: 2%;
  }
}

.position {
  margin-left: 14%;
  margin-top: 6%;
}

.fontSizeOne {
  font-size: 35px;
}

.fontSizeTwo {
  font-size: 20px;
}

.rowContainerSize {
  width: 73%;
}

.size {
  width: 100%;
}

.positionTwo {
  margin-top: 10%;
  display: flex;
  .clearImage {
    width: 20px;
    height: 20px;
    margin-left: 97%;
    margin-bottom: 1%;
  }
}

.closeCard {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 22%;
}

.positionThree {
  margin-top: 24%;
  .knowledgeTitle {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 3%;
  }
}

.wordFontOne {
  font-weight: bold;
  font-size: 35px;
  margin-left: 1%;
  margin-right: 1%;
}

.wordFontTwo {
  font-weight: bold;
  font-size: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.wordFontThree {
  font-weight: bold;
  font-size: 25px;
  margin-left: 1%;
  margin-right: 1%;
}

.wordFontFour {
  font-size: 22px;
}

.wordFontFive {
  font-size: 27px;
}

.wordFontsix {
  font-size: 20px;
}
